@model Inspotivity.Model.PaperPatternModels.PaperPatternEdit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaperPatternEdit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatternName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatternName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatternURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatternURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatternNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatternNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabricTypeNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricTypeNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabricRequirementInYards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricRequirementInYards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotionsNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotionsNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhereStored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhereStored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveMade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveMade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
