@model Inspotivity.Model.PaperPatternModels.PaperPatternDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>




<div>
    <strong>@Html.DisplayNameFor(model => model.Designer):</strong>  @Html.DisplayFor(model => model.Designer)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.PatternName):</strong>  @Html.DisplayFor(model => model.PatternName)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.PurchaseDate):</strong>  @Html.DisplayFor(model => model.PurchaseDate)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.PatternNumber):</strong>  @Html.DisplayFor(model => model.PatternNumber)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.Category):</strong>  @Html.DisplayFor(model => model.Category)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.FabricTypeNeeded):</strong>  @Html.DisplayFor(model => model.FabricTypeNeeded)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.FabricRequirementInYards):</strong>  @Html.DisplayFor(model => model.FabricRequirementInYards)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.NotionsNeeded):</strong>  @Html.DisplayFor(model => model.NotionsNeeded)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.WhereStored):</strong>  @Html.DisplayFor(model => model.WhereStored)
</div>
<div>
    <strong>@Html.DisplayNameFor(model => model.HaveMade):</strong>  @Html.DisplayFor(model => model.HaveMade)
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>