@model List<Inspotivity.Model.PaperPatternModels.PaperPatternItem>

@{
    ViewBag.Title = "Index";
}

<h2>My Patterns</h2>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fae in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            Designer
        </th>
        <th>
            Pattern Name
        </th>
        <th>
            Have Made
        </th>
        <th>
            Where I Have it Stored
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatternName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaveMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhereStored)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PaperPatternId })|
                @Html.ActionLink("Details", "Details", new { id = item.PaperPatternId })|
                @Html.ActionLink("Delete", "Delete", new { id = item.PaperPatternId })
            </td>
        </tr>
     }
</table>
<div>
    @Html.ActionLink("Create New", "Create")
</div>
